body {
    background-color: #fff;
    font-size: 16px;
    line-height: 0;
}
header {
    display:flex;
    height: 64px;
    align-items: center;
    margin: 0px 24px;
}
main {
    width: 100%;
    position: relative;
}
.logo {
    flex-grow: 1;
    font-size: 32px;
}
header span {
    text-decoration: none;
    color: black;
}
ul {
    display: inline-flex;
    position: relative;
    left: 70%;
}
header li {
    list-style: none;
    padding-right: 16px;
}
header li a{
    text-decoration: none;
    color: black;
}
.container {
    background-color: #D9D9D9;
    margin: 0;
    padding: 32px 24px;
    display: flex;
    width: 100%;
}
.container img {
    max-width: 100%;
    width: 50%;
}
.right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative;
    left: 5%;
}
.container a button {
    background-color: #595959;
    border: none;
    color: white;
    padding: 16px 62px;
    text-align: center;
    font-size: 19px;
    border-radius: 2px;
}
.container-2 {
    margin: 0;
    padding: 32px 24px;
    line-height: 20px;
}
.img-left img {
    width: 55%;
}
.img-right {
    display:flex;
    
}
.bold {
    font-weight: bold;
    color:#3c434a;
}
.light {
    color:#787c82;
}